*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image:url('./img/showcase.jpg');
    position: fixed;
    max-width: 100vw;
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}
 
.color-primary{
color: khaki;
}

.body p{
   padding-top: 30px;
   font-size: 14px;
   font-weight: lighter;
   line-height: 1.5em;
}
 #navbar{
    background-color: orange;
    overflow: auto;
    position: sticky;
    top: 0;
 }
 
 .body button{
    background-color: orange;
    padding: 20PX;
    margin: 10px;
    border: none;
    color: white;
    margin-right: 20px;
    cursor: pointer;
 }

 .body button:hover{
   background-color: black;
   color: black;
 }
 h1{
    float: left;
    padding: 20px;
 }
 
 #navbar a:hover{
    color: red;
 }

 ul{
    float: right;
    color:black;
    padding: 30px;
 }

 ul li{
    padding: 30px;
 }

 #navbar ul li{
    display: inline;
    
 }

 #navbar ul li h1 {
    display: block;
    padding: 20px;
 }

.body{
 
    color: white;
    padding: 20px;
    margin: 120px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.welcome{
    color: orange;
    font-size: larger;
}

 .box{
    margin: 5px;
    background: white;
    border-radius: 10px;
    padding-top: 10px;
    width: 150px;
    display:  inline-block;
    padding: 40px;
    
 }

 .box p{
    opacity: 80%;
    font-size: 12px;
 }

 .box h2{
    color: orange;
 }

 .box  button{
    background-color: white;
    color: black;
    padding: 6px;
    display: inline;
    border-radius: 5px;
    cursor: pointer;
    border: black solid 1px;
 }

 .box  button:hover{
    background-color: orange;
    color: white;
    border: none;
 }

 .image{
    margin: auto;
    display: block;
 }

 .content{
    padding: 30px;
    margin: 30px;
    background-color: lavender;
    height: 1200px;
    color: black;

 }
.content h3{
    text-align: center;
}

.cont{
    width: 250px;
    display: inline-block;
    margin-right: 120px;
    margin-top: 30px;

}

.cont1{
   width: 80%;
}

#services{
   background-image: url('./img/Hotel.jpg');  
   position: fixed;
   max-width: 100vw;
   height: 400px;
   position: relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   text-align: center;
}
#services .serv1{
   padding: 30px;
   margin-top: 30px;
   width: 50%;
   float: right;
   color: white;
   line-height: 1.5em;
   margin-right: 20px;
}
/* testimoials */

#testimonials {
   padding: 40px;
   margin-top: 20px;
   background-image: url('./img/test-bg.jpg');
   position: fixed;
   max-width: 100vw;
   height: 100vh;
   position: relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}


#testimonials img{
   width: 100px;
   border-radius: 80px;
   float: left;
   margin-right: 20px;
}
#testimonials p{
   text-align: left;
   margin-top: 10px;
   line-height: 1.5em;
   color: black;
   opacity: 60%;
   font-weight: lighter;
}

#testimonials .img-text{
   background-color: lavender;
   padding: 20px;
   border-radius: 10px;
}

#testimonials .img-text:hover{
   background-color: white;
   color: beige;
}


#testimonials .img-text .text{

   padding-right: 10px;
}

#testimonials button{
   margin-top: 20px;
   background-color: orange;
   color: white;
   padding: 20px;
   border: none;
   cursor: pointer;
   border-radius: 10px;
}

#testimonials button:hover{
   background-color: black;
}

.h2-color {
   color: white;
   font-size: 40px;
}

 
.footer{
   background-color: darkblue;
   margin-top: 50px;
    padding: 50px;
}

.footer p{
   color: white;
}

.footer .ft{
width: 300px;
display: inline-block; 
}




 